<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">GESTOCK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mt-4">
            <h1>Liste des Catégories</h1>
            <a href="/categories/new" class="btn btn-primary">Nouvelle Catégorie</a>
        </div>
    </div>

    <div class="container mt-4">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% categories.forEach(category => { %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.libelle %></td>
                <td><%= category.description %></td>
                <td>
                    <a href="/categories/<%= category.id %>/edit" class="btn btn-warning">Modifier</a>
                    <form style="display: inline-block;" action="/categories/<%= category.id %>?_method=DELETE" method="post">
                        <button class="btn btn-danger" type="submit">Supprimer</button>
                    </form>
                </td>

            </tr>
        <% }); %>
<!--        <script type="application/javascript">-->
<!--            //console.log("ok")-->
<!--        </script>-->
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
